:root {
    scrollbar-width: none !important;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: red;
    margin-left: 3rem;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.dialog-backdrop-class {
    backdrop-filter: blur(10px);
}

.background-image-bear {
    position: absolute;
    width: 370px;
    opacity: 2%;
    top: -80px;
    left: -60px;
    rotate: -25deg;
}

.background-image-server {
    position: absolute;
    width: 370px;
    opacity: 2%;
    top: -50px;
    left: -60px;
    rotate: -25deg;
}

.background-image-usec {
    position: absolute;
    width: 330px;
    opacity: 2%;
    top: -10px;
    left: -18px;
    rotate: -25deg;
}

.background-image-settings {
    position: absolute;
    width: 512px;
    opacity: 2%;
    top: -10px;
    left: -40px;
    rotate: 165deg;
}

.card-container {
    position: relative;
}

.card-overflow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.info-card-height {
    height: 100%
}

.no-pointers {
    pointer-events: none;
}

.mud-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
}

a.setting-on-hover:hover {
    background-color: rgba(170, 170, 170, 0.2);
    border-radius: 5px;
}

.setting-on-hover-container {
    position: relative;
    overflow: hidden;
}

.no-select {
    user-select: none;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.edition-text {
    background-color: #303038;
}

.text-overflow span {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mod-thumbnail {
    max-width: 144px;
    max-height: 144px;
    border-radius: 3px;
}

.user-markdown {
    img {
        max-width: 100%;
    }

    a {
        text-decoration: underline;
    }

    b, strong {
        font-weight: bold;
    }

    i, em {
        font-style: italic;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1.25;
    }

    h1 {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h3 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    h4 {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    h5 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    h6 {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    p {
        margin: 0.5rem 0;
    }

    hr {
        border: 0;
        height: 2px;
        background: #333;
        background-image: linear-gradient(to right, var(--color-gray-950), var(--color-cyan-600), var(--color-gray-950));
        margin: 1rem 0;
    }

    ul {
        margin-bottom: 0.5rem;
    }

    ol {
        margin-bottom: 0.5rem;
    }

    li {
        margin: 0.5rem 0;
        margin-left: 1.75rem;
    }

    blockquote {
        padding: 1rem;
        margin: 0.5rem 0;
        border-inline-start-width: 4px;

        p {
            font-size: 1.25rem;
            font-style: italic;
            font-weight: 500;
            line-height: 1.625rem;
        }
    }

    pre > code {
        border-radius: 0.375rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        margin: 0.25rem 0;
    }

    .tab-navigation {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        flex-wrap: wrap;

        .tab-link {
            white-space: nowrap;
            border-top-left-radius: 0.125rem;
            border-top-right-radius: 0.125rem;
            padding: 0.25rem 0.75rem;
            text-transform: uppercase;
            cursor: pointer;
            border-bottom-width: 2px !important;
            border-bottom-color: transparent;
            border-bottom-style: solid;
            background-color: var(--mud-palette-surface);

            &.active {
                font-weight: bold;
                border-bottom-color: var(--mud-palette-text-primary);
            }
        }
    }

    .tab-title {
        display: none;
    }

    .tab-content {
        margin-top: 0.25rem;
        border-top-left-radius: 0.125rem;
        border-top-right-radius: 0.125rem;
        border-bottom-left-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
        padding: 1rem;
        background-color: var(--mud-palette-surface);
    }

    .hidden {
        display: none;
    }
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    border: 1px solid rgba(119, 107, 231, 1);
    position: absolute;
    z-index: 10;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    white-space: nowrap;
}

.tooltip-text::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}

.tooltip-container:hover .tooltip-text,
.tooltip-container:focus-within .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.unset {
    padding: 0 !important;
    margin: 0 !important;
}

img.background-image-cover {
    object-fit: cover !important;
}

div.background-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

div.overlay-container {
    height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
}
