@inherits LayoutComponentBase

@using SPTarkov.Core.Mods
@implements IDisposable

@inject StateHelper StateHelper
@inject ConfigHelper ConfigHelper
@inject ModManager ModManager

<MudThemeProvider IsDarkMode="true"/>
<MudPopoverProvider/>
<MudSnackbarProvider/>
<MudDialogProvider/>

<MudScrollToTop>
    <MudFab Color="Color.Dark" StartIcon="@Icons.Material.Filled.ArrowCircleUp" Size="Size.Small"/>
</MudScrollToTop>

@if (ModManager.GetDownloadTasks().Any() && StateHelper.ShowDownloads)
{
    <DownloadComponent/>
}

<MudContainer Class="no-select overlay-container unset absolute">
    @if (ConfigHelper.GetConfig().UseBackground)
    {
        <MudImage Src="./bg.png" Class="no-select fixed mud-height-full mud-width-full background-image-cover"/>
    }
    <div class="no-select fixed mud-height-full mud-width-full background-overlay"></div>
</MudContainer>

<MudLayout>
    <MudDrawer Width="150px" ClipMode="DrawerClipMode.Never" Elevation="5" Variant="@DrawerVariant.Mini" OpenMiniOnHover="false" Breakpoint="Breakpoint.None" Class="mud-background-gray border-r-2 border-solid mud-border-lines-default">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="pt-1 pb-2">
        @Body
    </MudMainContent>
</MudLayout>

@code {

    protected override void OnInitialized()
    {
        StateHelper.OnStateChanged += StateHasChanged;
        base.OnInitialized();
    }

    public void Dispose()
    {
        StateHelper.OnStateChanged -= StateHasChanged;
    }

}
