<Router AppAssembly="@typeof(Launcher).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <div>
            <span>
                Page Not Found!
            </span>
        </div>
    </NotFound>
</Router>
